// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming.

// Breakpoints
$breakpoints: (
  xs: 0, // Mobile; 0 to 727px
  sm: 728px, // Tablet; 728px to 983px
  md: 984px, // Desktop; 984px to 1239px
  lg: 1240px, // Large desktop 1240px to 1559px
  xl: 1560px // Extra large desktop 1560px to ~px
) !default;

// Containers
//
// Generate constant container from breakpoints

$container-to-breakpoint-base: 16px !default;

// Colors setting
$shy-blue:               #00a1ff !default;
$royal-purple:           #603f83 !default;
$island-green:           #2bae66 !default;
$white:                  hsl(0, 0%, 100%) !default;
$light:                  hsl(0, 0%, 97%) !default;
$dark:                   hsl(0, 0%, 21%) !default;
$black:                  hsl(0, 0%, 14%) !default;

// Colors map
$colors: (
  "blue":                  $shy-blue,
  "purple":                $royal-purple,
  "green":                 $island-green,
  "light":                 $light,
  "dark":                  $dark
) !default;

// Basic
//
// Settings for all basic element.

$body-background:          $white !default;
$body-color:               $dark !default;
$body-text-align:          null !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:                   1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Container
$container-gap:            $spacer !default;

// Boxes
$boxes-size:               12 !default;
$boxes-gap:                $spacer / 2 !default;
$grid-gutter-width:        1.5rem !default;
$grid-row-columns:         6 !default;

$gutters:                  $spacers !default;

// Utilities
//
// Mapping all utilities props

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "align-items"       : true,
    "text-align"        : true,
    "justify-content"   : true,
  ),
  $utilities
);

// Components
//
// Define common padding and border radius sizes and more.

$border-width:            1px !default;
$border-style:            solid !default;
$border-color:            darken($white, 20%) !default;

$border-radius:           4px !default;
$border-radius-small:     $border-radius - 1px !default;
$border-radius-large:     $border-radius + 1px !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:   monospace !default;

$font-family-default:     $font-family-sans-serif !default;
$font-family-code:        $font-family-monospace !default;

$font-size-normal:        1rem !default;
$font-size-small:         $font-size-normal * .875 !default;
$font-size-large:         $font-size-normal * 1.125 !default;
$font-size-sub-sup:       $font-size-normal * .7 !default;

$font-size-h1:            $font-size-normal * 2.5 !default;
$font-size-h2:            $font-size-normal * 2 !default;
$font-size-h3:            $font-size-normal * 1.75 !default;
$font-size-h4:            $font-size-normal * 1.5 !default;
$font-size-h5:            $font-size-normal * 1.25 !default;
$font-size-h6:            $font-size-normal !default;

$font-weight-normal:      400 !default;
$font-weight-bold:        700 !default;
$font-weight-bolder:      bolder !default;

$line-height-normal:      1.5 !default;
$line-height-small:       1.25 !default;
$line-height-large:       2 !default;

$headings-margin-bottom:  .5em !default;

$hr-margin-y:             $spacer !default;
$hr-height:               $border-width !default;

// Forms
//
// Define all variables of form element (input, textarea, radio, range, and more)

$form-font-size:          $font-size-normal !default;
$form-font-family:        $font-family-default !default;
$form-font-weight:        $font-weight-normal !default;
$form-line-height:        $line-height-normal !default;
$form-padding-x:          1rem - rem($border-width * 2) !default;
$form-padding-y:          .5rem - rem($border-width * 2) !default;

$form-text-color-light:   darken($white, 5%) !default;
$form-text-color-dark:    lighten($black, 5%) !default;

$form-border-width:       $border-width !default;
$form-border-style:       $border-style !default;
$form-border-color:       $border-color !default;
$form-border-radius:      $border-radius !default;

$form-transition:         color .125s ease-in-out, background-color .125s ease-in-out, box-shadow .125s ease-in-out !default;
$form-disabled-opacity:   .7 !default;

// Small forms
$form-font-size-small:      $font-size-small !default;
$form-padding-x-small:      .875rem - rem($border-width * 2) !default;
$form-padding-y-small:      .375rem - rem($border-width * 2) !default;
$form-border-radius-small:  $border-radius-small !default;

// Large forms
$form-font-size-large:      $font-size-large !default;
$form-padding-x-large:      1.125rem - rem($border-width * 2) !default;
$form-padding-y-large:      .625rem - rem($border-width * 2) !default;
$form-border-radius-large:  $border-radius-large !default;

// Form input
$form-input-font-size-small:      $form-font-size-small !default;
$form-input-padding-x-small:      $form-padding-x-small !default;
$form-input-padding-y-small:      $form-padding-y-small !default;
$form-input-border-radius-small:  $form-border-radius-small !default;

$form-input-font-size-large:      $form-font-size-large !default;
$form-input-padding-x-large:      $form-padding-x-large !default;
$form-input-padding-y-large:      $form-padding-y-large !default;
$form-input-border-radius-large:  $form-border-radius-large !default;

// Form select
$form-select-indicator-color:      $dark !default;
$form-select-indicator:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{$form-select-indicator-color}' d='M18.51 26.75l11.22 -19.53c0.89,-1.92 -0.5,-4.17 -2.66,-4.16 -7.48,-0.05 -14.85,-0.05 -22.33,0 -2.12,-0.01 -3.49,2.15 -2.7,4.04 3.77,6.57 7.51,13.08 11.28,19.64 1.14,2.04 4.05,2.04 5.19,0.01z'/></svg>") !default;

$form-select-font-size-small:      $form-font-size-small !default;
$form-select-padding-x-small:      $form-padding-x-small !default;
$form-select-padding-y-small:      $form-padding-y-small !default;
$form-select-border-radius-small:  $form-border-radius-small !default;

$form-select-font-size-large:      $form-font-size-large !default;
$form-select-padding-x-large:      $form-padding-x-large !default;
$form-select-padding-y-large:      $form-padding-y-large !default;
$form-select-border-radius-large:  $form-border-radius-large !default;

// Buttons
//
// Define padding, border, radius sizes, text styling and more.

// Normal / Medium Button
$button-font-size:            $font-size-normal !default;
$button-line-height:          $line-height-normal !default;
$button-padding-x:            $form-padding-x !default;
$button-padding-y:            $form-padding-y !default;

$button-border-width:         $form-border-width !default;
$button-border-style:         $form-border-style !default;
$button-border-radius:        $form-border-radius !default;

$button-transition:           $form-transition !default;
$button-disabled-opacity:     $form-disabled-opacity !default;

// Small button
$button-font-size-small:      $form-font-size-small !default;
$button-padding-x-small:      $form-padding-x-small !default;
$button-padding-y-small:      $form-padding-y-small !default;
$button-border-radius-small:  $form-border-radius-small !default;

// Large button
$button-font-size-large:      $form-font-size-large !default;
$button-padding-x-large:      $form-padding-x-large !default;
$button-padding-y-large:      $form-padding-y-large !default;
$button-border-radius-large:  $form-border-radius-large !default;
