// Boxes system
//
// Generate box size with these mixins.

@mixin make-box($size, $columns: $boxes-size) {
  flex: 0 0 auto;
  width: percentage($size / $columns);
}

@mixin make-box-auto() {
  flex: 1 0 0%;
  width: auto;
}

@mixin make-box-offset($size, $columns: $boxes-size) {
  $num: $size / $columns;
  flex: 1 0 0%;
  margin-left: if($num == 0, 0, percentage($num));
}

// Box generation
//
// Used to generate all boxes breakpoints.

@mixin make-breakpoint-box($columns: $boxes-size, $gutter: $grid-gutter-width, $breakpoints: $breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @include media-breakpoint($breakpoint, $breakpoints) {
      .box#{$infix}-auto {
        @include make-box-auto();
      }

      @if $columns > 0 {
        @for $i from 1 through $columns {
          .box#{$infix}-#{$i}by#{$columns} {
            @include make-box($i, $columns);
          }
        }

        @for $i from 0 through ($columns - 1) {
          @if not ($infix == "" and $i == 0) {
            .box-offset#{$infix}-#{$i}by#{$columns} {
              @include make-box-offset($i, $columns);
            }
          }
        }
      }
    }
  }
}
