@mixin button(
  $background,
  $color: lighten($background, 80%)
) {
  color: $color;
  background-color: $background;

  &:hover,
  &.hover {
    color: $color;
    background-color: darken($background, 5%);
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 .15em rgba($color, .15);
  }
}

@mixin button-outline(
  $color,
  $desaturated-color: darken($color, 10%)
) {
  color: $color;
  border-color: $color;

  &:hover,
  &.hover {
    color: $desaturated-color;
    border-color: $desaturated-color;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 .15em rgba($color, .15);
  }
}
