// Button normal
@mixin button(
  $color,
  $text-color: button-text-contrast($color),
  $border-color: $color
) {
  color: $text-color;
  background-color: $color;
  border-color: $border-color;

  &:hover,
  &.hover {
    background-color: darken($border-color, 5%);
    border-color: transparent;
  }

  &:focus,
  &.focus {
    background-color: darken($border-color, 5%);
    border-color: transparent;
    box-shadow: 0 0 0 .15em rgba(mix($text-color, $border-color, 20%), .25);
  }
}

// Button outline
@mixin button-outline(
  $color,
  $text-color: $color,
  $border-color: lighten($color, 30%)
) {
  color: $text-color;
  border-color: $border-color;

  &:hover,
  &.hover {
    border-color: darken($border-color, 20%);
  }

  &:focus,
  &.focus {
    background-color: lighten($text-color, 46%);
    border-color: darken($border-color, 20%);
    box-shadow: 0 0 0 .15em rgba(mix($color, $border-color, 20%), .25);
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius; // stylelint-disable-line property-blacklist
}
