// stylelint-disable function-blacklist
@mixin form-size($padding-y, $padding-x, $font-size, $border-radius, $type: "input") {
  @if ($type == "input") {
    padding: $padding-y $padding-x;
  }
  @else if ($type == "select") {
    padding: $padding-y ($padding-x * 1.9) $padding-y $padding-x;
  }
  font-size: $font-size;
  border-radius: $border-radius; // stylelint-disable-line property-blacklist
}
