// stylelint-disable declaration-no-important

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint, $breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .justify-content#{$infix}-start   { justify-content: flex-start !important; }
    .justify-content#{$infix}-end     { justify-content: flex-end !important; }
    .justify-content#{$infix}-center  { justify-content: center !important; }
    .justify-content#{$infix}-between { justify-content: space-between !important; }
    .justify-content#{$infix}-around  { justify-content: space-around !important; }
  }
}
