// stylelint-disable declaration-no-important, scss/dollar-variable-default

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint($breakpoint, $breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @if map-get($utilities, "align-items") {
      .align-items-start { align-items: flex-start !important; }
      .align-items-end { align-items: flex-end !important; }
      .align-items-center { align-items: center !important; }
      .align-items-baseline { align-items: baseline !important; }
      .align-items-stretch { align-items: stretch !important; }
    }

    @if map-get($utilities, "justify-content") {
      .justify-content#{$infix}-start   { justify-content: flex-start !important; }
      .justify-content#{$infix}-end     { justify-content: flex-end !important; }
      .justify-content#{$infix}-center  { justify-content: center !important; }
      .justify-content#{$infix}-between { justify-content: space-between !important; }
      .justify-content#{$infix}-around  { justify-content: space-around !important; }
    }
  }
}
