// stylelint-disable property-blacklist

.button {
  padding: $button-padding-y $button-padding-x;
  line-height: $button-line-height;
  color: lighten(button-text-contrast($white), 30%);
  text-align: center;
  white-space: nowrap;
  background-color: $white;
  border-color: lighten(button-text-contrast($white), 60%);
  border-style: $button-border-style;
  border-width: $button-border-width;
  border-radius: $button-border-radius;
  transition: $button-transition;

  &:hover,
  &.hover {
    text-decoration: none;
    border-color: lighten(button-text-contrast($white), 30%);
  }

  &:focus,
  &.focus {
    background-color: lighten(button-text-contrast($white), 82%);
    border-color: lighten(button-text-contrast($white), 30%);
    outline: none;
    box-shadow: 0 0 0 .15em rgba(lighten(button-text-contrast($white), 50%), .25);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    box-shadow: none;
    opacity: $button-disabled-opacity;
  }
}

@each $color, $value in $colors {
  .button-#{$color} {
    @include button($value);
  }
}

@each $color, $value in $colors {
  .button-o-#{$color} {
    @include button-outline($value);
  }
}

.button-small {
  @include button-size(
    $button-padding-y-small,
    $button-padding-x-small,
    $button-font-size-small,
    $button-border-radius-small
  );
}

.button-large {
  @include button-size(
    $button-padding-y-large,
    $button-padding-x-large,
    $button-font-size-large,
    $button-border-radius-large
  );
}
