// stylelint-disable property-blacklist

.button {
  padding: $button-padding-y $button-padding-x;
  line-height: $button-line-height;
  color: $body-color;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border-color: $border-color;
  border-style: $button-border-style;
  border-width: $button-border-width;
  border-radius: $button-border-radius;
  transition: $button-transition;

  &:hover,
  &.hover {
    text-decoration: none;
    border-color: darken($border-color, 15%); // .button:hover {border-color} has 20% darker than .button {border-color}
  }

  &:focus,
  &.focus {
    background-color: darken($white, 5%);
    border-color: darken($border-color, 15%); // .button:focus {border-color} has 20% darker than .button {border-color}
    outline: none;
    box-shadow: 0 0 0 .15em rgba(mix($body-color, darken($border-color, 15%), 20%), .25);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    box-shadow: none;
    opacity: $button-disabled-opacity;
  }
}

@each $color, $value in $theme-colors {
  .button-#{$color} {
    @include button($value);
  }
}

@each $color, $value in $theme-colors {
  .button-o-#{$color} {
    @include button-outline($value);
  }
}

.button-small {
  @include button-size(
    $button-padding-y-small,
    $button-padding-x-small,
    $button-font-size-small,
    $button-border-radius-small
  );
}

.button-large {
  @include button-size(
    $button-padding-y-large,
    $button-padding-x-large,
    $button-font-size-large,
    $button-border-radius-large
  );
}
