// stylelint-disable property-blacklist

.group {
  display: flex;
  justify-content: flex-start;

  > :not(:last-child) {
    margin-right: -$button-border-width;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Generic input
  > .input {
    &:not(:last-child) {
      margin-right: -$button-border-width;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    // Reset checkbox and radio appearance
    &[type="checkbox"],
    &[type="radio"] {
      width: auto;
      margin-top: .35rem;
      margin-right: 1rem;
    }
  }

  // Label
  > .label-prepend,
  > .label-append {
    display: flex;
    margin-right: -$button-border-width;

    > .label {
      display: flex;
      padding: $form-padding-y $form-padding-x;
      color: $form-text-color-dark;
      white-space: nowrap;
      background-color: darken($white, 10%);
      border-color: $form-border-color;
      border-style: solid;
      border-width: $form-border-width;
      border-radius: $form-border-radius;
    }
  }

  // Input label prepend
  > .label-prepend {
    > .label {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child) {
        margin-left: -$button-border-width;
        border-radius: 0;
      }
    }
  }

  > .label-append {
    > .label {
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        margin-right: -$button-border-width;
        border-radius: 0;
      }
    }
  }
}
