// stylelint-disable property-blacklist,function-blacklist

// General properties
.input,
.select {
  display: block;
  width: 100%;
  font-family: $form-font-family;
  font-size: $form-font-size;
  font-weight: $form-font-weight;
  line-height: $form-line-height;
  color: $form-text-color-dark;
  background-color: $white;
  border: $form-border-width solid $form-border-color;
  border-radius: $form-border-radius;
  appearance: none;

  &:hover,
  &.hover,
  &:active,
  &.active {
    z-index: 1;
  }

  &:focus,
  &.focus {
    z-index: 9;
  }
}

// Form input
.input {
  padding: $form-padding-y $form-padding-x;
  background-clip: padding-box;

  &:hover,
  &.hover {
    text-decoration: none;
    border-color: darken($form-border-color, 20%);
  }

  &:focus,
  &.focus {
    background-color: darken($white, 5%);
    border-color: darken($form-border-color, 20%);
    outline: none;
    box-shadow: 0 0 0 .15em rgba(darken($white, 50%), .25);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    box-shadow: none;
    opacity: $form-disabled-opacity;
  }

  &[type="file"] {
    padding: $form-padding-y;
  }
}

.input-small {
  @include form-size(
    $form-input-padding-y-small,
    $form-input-padding-x-small,
    $form-input-font-size-small,
    $form-input-border-radius-small
  );
}

.input-large {
  @include form-size(
    $form-input-padding-y-large,
    $form-input-padding-x-large,
    $form-input-font-size-large,
    $form-input-border-radius-large
  );
}


// Form select
.select {
  padding: $form-padding-y ($form-padding-x * 1.5) $form-padding-y $form-padding-x;
  background-image: escape-svg($form-select-indicator);
  background-repeat: no-repeat;
  background-position: right $form-padding-x / 1.9 center;
  background-size: 16px 12px;

  &:hover,
  &.hover {
    text-decoration: none;
    border-color: darken($form-border-color, 20%);
  }

  &:focus,
  &.focus {
    background-color: darken($white, 5%);
    border-color: darken($form-border-color, 20%);
    outline: none;
    box-shadow: 0 0 0 .15em rgba(darken($white, 50%), .25);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    box-shadow: none;
    opacity: $form-disabled-opacity;
  }
}

.select-small {
  @include form-size(
    $form-select-padding-y-small,
    $form-select-padding-x-small,
    $form-select-font-size-small,
    $form-select-border-radius-small,
    "select"
  );
}

.select-large {
  @include form-size(
    $form-select-padding-y-large,
    $form-select-padding-x-large,
    $form-select-font-size-large,
    $form-select-border-radius-large,
    "select"
  );
}
