// stylelint-disable property-blacklist
.tag {
  padding: .015rem .3rem;
  font-size: $font-size-small;
  line-height: 1;
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
}
