:root {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    $value: breakpoint-value($breakpoint, $breakpoints);

    @if ($value) {
      --screen#{$infix}: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    $value: breakpoint-value($breakpoint, $breakpoints);

    @if ($value) {
      $container-value: $value - $container-to-breakpoint-base;

      --container#{$infix}: #{$container-value};
    }
  }

  --font-family-default: #{$font-family-default};
  --font-family-code: #{$font-family-code};
}
