.boxes {
  display: flex;
  margin-top: -$boxes-gap;
  margin-right: -$boxes-gap;
  margin-left: -$boxes-gap;

  & * .boxes:not(:last-child) {
    margin-bottom: $boxes-gap;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.box {
  display: block;
  flex: 1 0 0%;
  padding: $boxes-gap;

  &.reverse {
    flex-direction: column-reverse;
  }
}

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns();
