.boxes {
  display: flex;
  margin-top: -$boxes-gap;
  margin-right: -$boxes-gap;
  margin-bottom: $boxes-gap;
  margin-left: -$boxes-gap;

  // Exprtimental with line 5 (margin-bottom)
  // &:not(:last-child) {
  //   margin-bottom: $boxes-gap;
  // }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.box {
  display: block;
  flex: 1 0 0%;
  padding: $boxes-gap;

  &.reverse {
    flex-direction: column-reverse;
  }

  // Experimental boxes inside box gap fix
  > .boxes {
    &:last-child {
      margin-bottom: -$boxes-gap;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@include make-breakpoint-box();
