.container,
.container-fluid {
  padding-right: $container-gap;
  padding-left: $container-gap;
  margin-right: auto;
  margin-left: auto;
}

.container {
  flex-grow: 1;
  width: auto;
}

@each $breakpoint-name, $container-max-width in $breakpoints {
  .container-#{$breakpoint-name} {
    @extend .container-fluid;
  }

  @include media-breakpoint($breakpoint-name, $breakpoints) {
    %responsive-container-#{$breakpoint-name} {
      max-width: var(--container#{breakpoint-infix($breakpoint-name, $breakpoints)});
    }

    $extend-breakpoint: true;

    @each $name, $width in $breakpoints {
      @if ($extend-breakpoint) {
        .container#{breakpoint-infix($name, $breakpoints)} {
          @extend %responsive-container-#{$breakpoint-name};
        }

        @if ($breakpoint-name == $name) {
          $extend-breakpoint: false;
        }
      }
    }
  }
}
