.boxes {
  display: flex;
  margin-top: -$boxes-gap;
  margin-right: -$boxes-gap;
  margin-bottom: $boxes-gap;
  margin-left: -$boxes-gap;
}

.box {
  display: block;
  flex: 1 0 0%;
  padding: $boxes-gap;
}

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns();
